.about-us {
    padding-top: 150px;
    padding-bottom: 140px;
    background-image: url("../../assets/images/logo-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 630px) calc(50% - 370px);
}

.about-us-title {
    margin-top: 0;
    margin-bottom: 93px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #000;    
}

.about-us-inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about-us-infobox {
    max-width: 581px;
    width: 100%;
    margin: 0 20px;
}

.about-us-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #898686;    
}

.about-us-desc {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #898686;
}

.about-us-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    max-width: 195px;
    width: 100%;
    padding: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;    
    background-color: #ff0d34;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 6px 16px 0px rgba(255, 13, 52, 0.22);

    &::before {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 250px;
        background-color: #ff0d34;
        opacity: 0.5;
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
        transition: transform 0.4s cubic-bezier(0.4,0,1,1);
        content: '';
    }

    &:hover {
        &::before {
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
        }

        & .about-links-rhombus {
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
        }
    }
}
.about-links-rhombus {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.4s cubic-bezier(0.4,0,1,1);
}

.about-us-building-box {
    position: relative;
    border: 1px solid #FF103B;
}

.about-us-building-imgbox {
    position: relative;
    overflow: hidden;
}
.about-us-building-imgbox-first {
    // bottom: 20px;
    // left: 20px;
    border-radius: 181.511px 181.511px 0px 0px;
}
.about-us-building-imgbox-second {
    // bottom: 20px;
    // right: 20px;
    border-radius: 241.258px 241.258px 0px 0px;
}

.about-us-building-imgbox-overlay {
    position: absolute;
    display: inline-block;
    transform: rotate(45deg);
    // background-color: rgba(231, 0, 0, 0.9);
    // background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 1);
}
.about-us-building-imgbox-round-first {
    width: 660px;
    height: 700px;
    top: -60px;
    right: -230px;
}
.about-us-building-imgbox-round-second {
    height: 820px;
    width: 820px;
    top: -189px;
    left: -190px;
}

.about-us-building-box-first {
    top: 44px;
    border-radius: 181.511px 181.511px 0px 0px;
}
.about-us-building-box-second {
    top: -136px;
    border-radius: 241.258px 241.258px 0px 0px;
}

.about-us-building-img-first {
    width: 370.09px;
    height: auto;
    border-radius: 181.511px 181.511px 0px 0px;
}
.about-us-building-img-second {
    width: 439.92px;
    height: auto;
    border-radius: 241.258px 241.258px 0px 0px;
}

@media only screen and (max-width: 1550px) {
    .about-us {
        padding-top: 110px;
        padding-bottom: 100px;
        background-position: calc(50% - 460px) calc(50% - 275px);
        background-size: 500px auto;
    }
    
    .about-us-title {
        margin-bottom: 80px;
        font-size: 40px;
        line-height: 65px;
    }
    
    .about-us-infobox {
        max-width: 415px;
    }
    
    .about-us-text {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #898686;    
    }
    
    .about-us-desc {
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 150%;
    }
    
    .about-us-link {
        display: inline-block;
        max-width: 195px;
        padding: 18px;
        font-size: 15px;
        line-height: 23px;
        color: #fff;    
    }
    
    .about-us-building-box-first {
        top: 44px;
        border-radius: 181.511px 181.511px 0px 0px;
    }
    .about-us-building-box-second {
        top: -136px;
        border-radius: 241.258px 241.258px 0px 0px;
    }
    
    .about-us-building-img-first {
        width: 250.09px;
        border-radius: 181.511px 181.511px 0px 0px;
    
    }
    .about-us-building-img-second {
        width: 319.92px;
        border-radius: 241.258px 241.258px 0px 0px;
    }    

    .about-us-building-imgbox-round-first {
        width: 450px;
        height: 490px;
        top: -60px;
        right: -160px;
    }
    .about-us-building-imgbox-round-second {
        height: 590px;
        width: 660px;
        top: -159px;
        left: -190px;
    }
}