.company-confidence {
    margin-bottom: 171px;
}

.company-confidence-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.company-confidence-building-box {
    position: relative;
    top: 20px;
    border-radius: 181.511px 181.511px 0px 0px;
    border: 1px solid #ff103b;
}
.company-confidence-bulding {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 370.09px;
    height: 504.19px;
    border-radius: 181.511px 181.511px 0px 0px;
}

.company-confidence-img {
    width: 341px;
    height: 289px;
    border-radius: 20px;
}

.company-confidence-descbox {
    max-width: 755px;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 188px;
}

.company-confidence-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-size: 30px;
    line-height: 140%;
    color: #0C0918;
}