.company-confidence {
    margin-bottom: 171px;
}

.company-confidence-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.company-confidence-building-box {
    position: relative;
    top: 20px;
    border-radius: 181.511px 181.511px 0px 0px;
    border: 1px solid #ff103b;
}
.company-confidence-bulding {
    position: relative;

    width: 370.09px;
    height: auto;
    border-radius: 181.511px 181.511px 0px 0px;
}

.company-confidence-img {
    width: 341px;
    height: auto;
    border-radius: 20px;
}

.company-confidence-descbox {
    max-width: 755px;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 188px;
}

.company-confidence-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-size: 30px;
    line-height: 140%;
    color: #0C0918;
}

.company-confidence-building-imgbox {
    position: relative;
    overflow: hidden;
    // bottom: 20px;
    // left: 20px;
    border-radius: 181.511px 181.511px 0px 0px;
}
.company-confidence-building-imgbox-overlay {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 660px;
    height: 700px;
    top: -60px;
    right: -230px;
    transform: rotate(45deg);
    // background-color: rgba(231, 0, 0, 0.9);
    // background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1550px) {
    .company-confidence {
        margin-bottom: 131px;
    }
    
    .company-confidence-building-box {
        top: 15px;
    }
    .company-confidence-bulding {
        bottom: 15px;
        left: 15px;
        width: 250.09px;
    }
    
    .company-confidence-img {
        width: 270px;
    }
    
    .company-confidence-descbox {
        max-width: 535px;
        padding-top: 148px;
    }
    
    .company-confidence-desc {
        font-size: 21px;
    }
    .company-confidence-building-imgbox-overlay {
        width: 450px;
        height: 490px;
        top: -60px;
        right: -160px;
    }
}